*.db-wal
*.db-shm
*.db
*.vsidx
.vs/PokopiaCityPlanner.slnx/copilot-chat/743154ea/sessions/ff734e3c-18e1-4ed1-ba6b-15180d346c5f
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/PokopiaCityPlanner.slnx/v18/.wsuo
.vs/PokopiaCityPlanner.slnx/v18/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/PokopiaCityPlanner.slnx/v18/DocumentLayout.backup.json
/scripts
docs/data/pokemons.json.bak
.vs/PokopiaCityPlanner/v18/workspaceFileList.bin
